<h1>Flights</h1>
<br>
<% if @search.present? && @available_flights.present? %>
  <% @search = nil %>
  <%= render 'select_form' %>
  <%= render 'available_flights' %>
<% else %>
  <%= render 'select_form' %>
<% end %>